In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url='https://currentaffairs.adda247.com/ipl-schedule-2023-time-table-venues-groups-and-teams/'

In [3]:
page=requests.get(url)
page

In [4]:
soup=BeautifulSoup(page.content,'html.parser')
#soup.prettify

In [5]:
body=soup.find('tbody')
#body

In [11]:
table=body.find_all('tr')
print(len(table))

71

In [31]:
ipl_info= []

for matches in table:
    dates=matches.find('td',style="text-align: center;width: 25.0399%").get_text(strip=True)
    team1=matches.find('td',style="text-align: center;width: 25.3589%").get_text(strip=True)
    team2=matches.find('td',style="text-align: center;width: 25.1994%").get_text(strip=True)
    venue=matches.find('td',style="text-align: center;width: 11.4035%").get_text(strip=True)
    time=matches.find('td',style="text-align: center;width: 25.4386%").get_text(strip=True)
    info=(dates,team1,team2,venue,time)
    ipl_info.append(info)

In [33]:
ipl_schedule=pd.DataFrame(ipl_info,columns=['Dates','Team1','Team2','Venue','Time'])
ipl_schedule

,Dates,Team1,Team2,Venue,Time
0,Dates,Home Team,Away Team,Venue,Time
1,31- March-2023,Gujarat Titans,Chennai Super Kings,Ahmedabad,7:30 PM
2,01-April-2023,Punjab,Kolkata Knight Riders,Mohali,3:30 PM
3,01-April-2023,Lucknow Super Giants,Delhi Capitals,Lucknow,7:30 PM
4,02- April-2023,Sunrisers Hyderabad,Rajasthan Royals,Hyderabad,3:30 PM
...,...,...,...,...,...
66,19-May-2023,Punjab Kings,Delhi Capitals,Dharamshala,7:30 PM
67,20-May-2023,Delhi Capitals,Chennai Super Kings,Delhi,3:30 PM
68,20-May-2023,Kolkata Knight Riders,Lucknow Super Giants,Kolkata,7:30 PM
69,21-May-2023,Mumbai Indians,Sunrisers Hyderabad,Mumbai,3:30 PM
70,21-May-2023,Royal Challengers Bangalore,Gujarat Titans,Bengaluru,7:30 PM

In [34]:
ipl_schedule.to_excel('ipl schedule 2023.xlsx',index=False)