In [1]:
pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
url='https://www.imdb.com/chart/top/?ref_=nv_mv_250'

In [6]:
page= requests.get(url)
print(page)

<Response [200]>

In [9]:
soup=BeautifulSoup(page.content,'html.parser')
#print(soup.prettify)
movies=soup.find('tbody',class_='lister-list')
#print(len(movies))
lists=movies.find_all('tr')
#print(len(lists))

imbd_rating= []

for movie in lists:
    name=movie.find('td',class_='titleColumn').a.text
    rank=movie.find('td',class_='titleColumn').get_text(strip=True).split('.')[0]
    year=movie.find('span',class_='secondaryInfo').text.strip('()')
    rating=movie.find('td',class_='ratingColumn imdbRating').strong.text

    info=(rank,name,year,rating)
    imbd_rating.append(info)

In [14]:
top_movies=pd.DataFrame(imbd_rating,columns=['name','rank','year','rating'])

In [15]:
top_movies

    name                      rank  year rating
0      1  The Shawshank Redemption  1994    9.2
1      2             The Godfather  1972    9.2
2      3           The Dark Knight  2008    9.0
3      4     The Godfather Part II  1974    9.0
4      5              12 Angry Men  1957    9.0
..   ...                       ...   ...    ...
245  246               Dersu Uzala  1975    8.0
246  247                  The Help  2011    8.0
247  248                   Aladdin  1992    8.0
248  249        Dances with Wolves  1990    8.0
249  250                    Gandhi  1982    8.0

[250 rows x 4 columns]

In [18]:
top_movies.to_excel('IMBD Ratings.xlsx',index=False)